.mb15 {
  margin-bottom: 15px;
}
.mt30 {
  margin-top: 30px;
}
.mb30 {
  margin-bottom: 30px;
}
.mt60 {
  margin-top: 60px;
}
.mb60 {
  margin-bottom: 60px;
}
.border15 {
  border-radius: 15px;
}
/*  */
.banner .slick-dots {
  display: flex !important;
}
.banner .slick-dots li {
  list-style: none;
}
.banner .slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
}
.banner .slick-dots .slick-active button {
  background-color: orange;
}
.banner .slick-dots li > button {
  background-color: gray;
}
.banner .slick-dots li button:active li {
  background-color: orange;
}
.banner {
  position: relative;
}
.banner ul {
  position: absolute;
  top: 91%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner .slider-arrow-left {
  position: absolute;
  top: 220px;
  left: 10px;
  z-index: 2;
}
.banner .slider-arrow-right {
  position: absolute;
  top: 220px;
  right: 10px;
  z-index: 2;
}
.section-2 .item-left {
  position: relative;
}
.section-2 .item-left .contain {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section-2 .item-left .contain p:hover {
  color: white !important ;
}
.section-2 .item-left {
  overflow: hidden;
}
.section-2 .item-left .img {
  transition: 1s all !important;
}
.section-2 .item-left .img:hover {
  background-position-y: 40% !important ;
  transition: 1s all !important;
}

.section-3 .image-cover {
  background-position: 50% 50%;
  background-size: cover;
  height: auto;
  overflow: hidden;
}
.section-3 .image-cover > img {
  border-radius: 15px;
  width: 100%;
  object-fit: cover;
}
.img-hover-zoom {
  border: 1px solid #ccc;
  height: auto;
  margin: 10px auto;
  overflow: hidden;
  position: relative;
}
/* .zoom .img-1 img{
  max-width: 100%;
  transition: all 1s;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.zoom .img-1:hover  img{
-webkit-transform: scale(1.2);
 transform: scale(1.2);
} */
.section-2-home .row-1 .zoom,
.section-2-home .row-2 .zoom {
  transition: 1s all;
  overflow: hidden;
}
.section-2-home .row-1 .img-1:hover,
.section-2-home .row-1 .img-2:hover,
.section-2-home .row-1 .img-1:hover,
.section-2-home .row-2 .img-1:hover {
  transform: scale(1.2);
  transition: 1s all;
}
.section-3 .row .image-cover > img {
  transition: 1s all;
  overflow: hidden;
}
.section-3 .row .image-cover > img:hover {
  transform: scale(1.2);
  transition: 1s all;
}
.section-4 .box-img {
  margin: 0 auto;
  height: auto;
  width: 100%;
}
.section-4 .box-img > a > img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.section-4 .box-img {
  position: relative;
}
.section-4 .box-img .img-1 {
  opacity: 1;
  transition: all 1s;
}
.section-4 .box-img .img-2 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 1s;
}
.section-4 .box-img:hover .img-1 {
  opacity: 0;
  transition: all 1s;
}
.section-4 .box-img:hover .img-2 {
  opacity: 1;
  transition: all 1s;
}

.section-4 .content .title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-10-slider {
  position: relative;
}
.section-10-slider .slider-arrow-left {
  position: absolute;
  top: 21px;
  left: -50px;
  font-size: 25px;
}
.section-10-slider .slider-arrow-right {
  position: absolute;
  top: 69px;
  top: 21px;
  right: -1323px;
  font-size: 25px;
}
/* .section-10-slider .slick-list .slick-track .slick-slide {
  width: 80px !important;
  height: 110px;
  padding: 0 20px;
} */
.section-1 .slider-for-pd-single .slider-arrow-left {
  position: absolute;
  top: 272px;
  z-index: 1;
  font-size: 40px;
}
.section-1 .slider-for-pd-single .slider-arrow-right {
  position: absolute;
  right: 0;
  top: 272px;
  z-index: 1;
  font-size: 40px;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 110px;
  right: 21px;
  z-index: 99;
  /* font-size: 18px; */
  border: none;
  outline: none;
  background-color: gray;
  color: white;
  cursor: pointer;
  padding: 27px;
}

#myBtn:hover {
  background-color: rgba(252, 185, 0, 1);
}
#myBtn:hover svg {
  fill: "#000" !important;
}
.section-1-pdsn .item-right .title {
  color: #676767;
}

.section-1-pdsn .slider-for-pd-single .slider-arrow-left {
  position: absolute;
  top: 215px;
  left: -27px;
  font-size: 33px;
}
.section-1-pdsn .slider-for-pd-single img{
  margin: 0 auto;
}
.section-1-pdsn .slider-for-pd-single .slider-arrow-right {
  position: absolute;
  top: 215px;
  right: 15px;
  font-size: 33px;
}
.section-1-pdsn .item-right .pd-code {
  font-weight: 600;
  color: #676767;
}
.section-1-pdsn .item-right .price {
  font-weight: 500;
  color: #c40d2e;
  font-size: 27px;
}
.footer-end {
  height: 40px;
  background-color: gray;
}
.footer-end p {
  text-align: center;
  line-height: 40px;
  color: white;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 600;
}
.pdsn-btn-showroom-dropdown-menu .dropdown-item:not(.dropdown-item-last) {
  border-bottom: 1px solid black !important;
}
.pdsn-btn-showroom-dropdown-menu .dropdown-item {
  padding: 10px 10px;
}
.section-4-pdsn .slider-arrow-left i {
  position: absolute;
  top: 58px;
  left: 0px;
  font-size: 30px;
}
.section-4-pdsn .slider-arrow-right i {
  position: absolute;
  top: 58px;
  right: 0px;
  font-size: 30px;
}
.section-pdsn-5 {
  margin-bottom: 20px;
}
.section-pdsn-5 .row {
  position: relative;
}
.section-pdsn-5 .row::before {
  content: "";
  position: absolute;
  width: 500px;
  height: 1px;
  background-color: gray;
  left: 0;
  top: 25px;
}
.section-pdsn-5 .row::after {
  content: "";
  position: absolute;
  width: 500px;
  height: 1px;
  background-color: gray;
  right: 0px;
  top: 25px;
}
.section-pdsn-5 .social-icon {
  display: flex;
  justify-content: center;
  font-size: 30px;
}
.section-pdsn-5 .social-icon div i {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 50px;
  background-color: rgb(198, 195, 195);
}
.section-pdsn-5 .social-icon div i:hover {
  background-color: white;
}
.section-pdsn-5 .social-icon div i:hover.icon-fb {
  color: #3b5998 !important;
}
.section-pdsn-5 .social-icon div i:hover.icon-ins {
  color: #e95950 !important;
}
.section-pdsn-5 .social-icon div i:hover.icon-ytb {
  color: #e50914 !important;
}
.section-pdsn-5 .social-icon div i:hover.icon-tik {
  color: #0078ff !important;
}
.section-pdsn-5 .social-icon div i:hover.icon-tw {
  color: #1da1f2 !important;
}
/* footer */
.footer-col-2 .info-text-Manh,
.footer-col-3 .info-text-Manh {
  padding-left: 20px;
}
.footer-col-2 .info-text-Manh,
.footer-col-3 .info-text-Manh {
  position: relative;
}
.footer-col-2 .info-text-Manh .p1::before,
.footer-col-3 .info-text-Manh .p1::before {
  content: "\f101";
  font-family: "FontAwesome";
  position: absolute;
  top: 0;
  left: 1px;
  font-size: 15px;
}
.footer-col-2 .info-text-Manh .p2::before,
.footer-col-3 .info-text-Manh .p2::before {
  content: "\f101";
  font-family: "FontAwesome";
  position: absolute;
  top: 34px;
  left: 1px;
  font-size: 15px;
}
.footer-col-2 .info-text-Manh .p3::before,
.footer-col-3 .info-text-Manh .p3::before {
  content: "\f101";
  font-family: "FontAwesome";
  position: absolute;
  top: 71px;
  left: 1px;
  font-size: 15px;
}
.footer-col-2 .info-text-Manh .p4::before,
.footer-col-3 .info-text-Manh .p4::before {
  content: "\f101";
  font-family: "FontAwesome";
  position: absolute;
  top: 105px;
  left: 1px;
  font-size: 15px;
}
.footer-col-2 .info-text-Manh .p5:before,
.footer-col-3 .info-text-Manh .p5:before {
  content: "\f101";
  font-family: "FontAwesome";
  position: absolute;
  top: 141px;
  left: 1px;
  font-size: 15px;
}
.footer-col-2 .info-text-Manh .p6::before,
.footer-col-3 .info-text-Manh .p6::before {
  content: "\f101";
  font-family: "FontAwesome";
  position: absolute;
  top: 175px;
  left: 1px;
  font-size: 15px;
}
.footer-col-2 .info-text-Manh .p7::before,
.footer-col-3 .info-text-Manh .p7::before {
  content: "\f101";
  font-family: "FontAwesome";
  position: absolute;
  top: 211px;
  left: 1px;
  font-size: 15px;
}
.section-7-thnt .slider-arrow-left {
  position: absolute;
  top: 61px;
  left: -14px;
  font-size: 20px;
}
.section-7-thnt .slider-arrow-right {
  position: absolute;
  top: 61px;
  right: -14px;
  font-size: 20px;
}
.section-9 .slider-arrow-left {
  position: absolute;
  top: 137px;
}

.header-dr {
  width: 250px;
}
.header-dr > li > a {
  font-size: 14px !important;
  text-transform: uppercase;
}
.myheader .navbar-brand-manh {
  margin-left: 600px;
}
.myheader nav {
  padding: 10px;
}
.header-right {
  position: relative;
}
.header-right::before {
  content: "";
  width: 1.5px;
  height: 25px;
  background-color: black;
  left: 177px;
  top: 17px;
  position: absolute;
  display: inline-block;
}
.header-right .loggedin::before {
  display: none;
}
.section-9 .slider-arrow-right {
  position: absolute ; 
  top: 140px !important;
  right: -5px !important;
}
.section-9 .slider-arrow-left {
  position: absolute ; 
  top: 140px !important;
  left: -9px !important;
}
.section-9 .box-img>a>.img-1
 {
  margin: 0 auto !important;
}
.section-4 .box-img .img-2{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#arcontactus .arcontactus-message-button{
  background-color: orange !important;
}
#arcontactus .arcontactus-message-button .icons-line span{
  color: orange !important;
}
